@font-face {
	font-family: 'cn Raleway';
	src:url('woff2/RW-300.woff2') format('woff2'),
		url('woff/RW-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'cn Raleway';
	src:url('woff2/RW-500.woff2') format('woff2'),
		url('woff/RW-500.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'cn Raleway';
	src:url('woff2/RW-700.woff2') format('woff2'),
		url('woff/RW-700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
